<h1>Stupid Coaching</h1>
<p>Ask your coach anything!</p>

<div class="form1">
<form action="/questions/answer">
  <input type="text" name="question" placeholder="Type your question">
  <input type="submit" value="Ask!">
</form>
</div>
